<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.WxUserMapper">

    <resultMap id="wxUserMap" type="com.tencent.wxcloudrun.model.WxUser">
        <id property="id" column="id"/>
        <result property="openid" column="openid"/>
        <result property="unionid" column="unionid"/>
        <result property="nickname" column="nickname"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="lastLoginAt" column="last_login_at"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="getByOpenid" resultMap="wxUserMap">
        SELECT * FROM wx_user WHERE openid = #{openid}
    </select>

    <select id="getById" resultMap="wxUserMap">
        SELECT * FROM wx_user WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.tencent.wxcloudrun.model.WxUser"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wx_user (openid, unionid, nickname, avatar_url, last_login_at)
        VALUES (#{openid}, #{unionid}, #{nickname}, #{avatarUrl}, NOW())
    </insert>

    <update id="updateLoginTime">
        UPDATE wx_user SET last_login_at = NOW() WHERE id = #{id}
    </update>

</mapper>
